


@model BookShop.Models.DTOs.CheckoutModel

@{
    ViewData["Title"] = "Checkout";
}

<h2>Checkout</h2>

<form asp-action="Checkout" method="post">
    <div class="py-2">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="py-2">
        <label asp-for="MobileNumber"></label>
        <input asp-for="MobileNumber" class="form-control" />
        <span asp-validation-for="MobileNumber" class="text-danger"></span>
    </div>

    <div class="py-2">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="py-2">
        <label asp-for="Address"></label>
        <textarea asp-for="Address" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="py-2">
        <label asp-for="PaymentMethod"></label>
        <select asp-for="PaymentMethod" class="form-control">
            <option value="">-- Select Payment Method --</option>
            @foreach (var method in Enum.GetValues(typeof(BookShop.Constants.PaymentMethods)))
            {
                <option value="@method.ToString()">@method.ToString()</option>
            }
        </select>
        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
    </div>

    <div class="my-2">
        <button type="submit" class="btn btn-primary">Place Order</button>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
